.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 1rem;
    background-color: inherit;
}
  
.title {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
}
  
.link {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    font-size: 1.5rem;
    color: #0070f3;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 2px solid #0070f3;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
  
.link:hover {
    background-color: purple;
    color: #ffffff;
    border-color: purple;
}